* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #3F1635;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* border: 1px solid black; */
    width: 400px;
    height: 500px;
    color: white;
}

.game {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
     aspect-ratio: 1/1;
}

.btn {
    border: none;
    border-radius: 20px;
    background: #a7408e;
    box-shadow: 15px 15px 30px #290e22,
        -15px -15px 30px #551e48;
    color: white;
    font-size: 1.3em;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    font-weight: normal;
     aspect-ratio: 1/1;
}
.btn:active{
    transform: scale(0.95);
    transition: all 0.5s;
    outline: none;
}
.reset{
    padding: 8px;
    border-radius: 15px;
    border: none;
    background-color:#FD970D;
    color: white;
}
.reset-button{
    width: 100px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.new-game{
    width: 100px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}